    RewriteEngine On

#   rule for mobile version -----------------------------------------------------------------
    RewriteCond %{HTTP_HOST} ^(m.lusotuga.localhost|m.lusotuga.webpassion.com.ua)$ [NC]
    RewriteRule ^assets/(.*)$ mobile/web/assets/$1 [L]
    RewriteRule ^video/(.*)$ video/$1 [L]
    RewriteRule ^images/(.*)$ images/$1 [L]

    RewriteCond %{HTTP_HOST} ^(m.lusotuga.localhost|m.lusotuga.webpassion.com.ua)$ [NC]
    RewriteCond %{REQUEST_URI} !index.php
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ mobile/web/index.php [NC,L,QSA]
#   rule for mobile version -----------------------------------------------------------------


    RewriteCond %{REQUEST_URI} ^/deploy.php
    RewriteRule ^.*$ deploy.php [L]

    RedirectMatch 301 /frontend/web/index.php/(.*) /$1
    RedirectMatch 301 /mobile/web/index.php/(.*) /$1
    RedirectMatch 301 /backend/web/index.php/(.*) /admin/$1

    # deal with admin first
    RewriteCond %{REQUEST_URI} ^(.*)/(admin)
    RewriteRule ^(.*)admin/assets/(.*)$ backend/web/assets/$2 [L]
    RewriteRule ^(.*)admin/css/(.*)$ backend/web/css/$2 [L]

    RewriteCond %{REQUEST_URI} !^/backend/web/(assets|css|images|fonts|js)/
    RewriteCond %{REQUEST_URI} ^(.*)/(admin)
    RewriteRule ^.*$ backend/web/index.php [L]
#
    RewriteCond %{REQUEST_URI} robots.txt
    RewriteRule ^.*$ frontend/web/robots.txt [L]
#
    RewriteCond %{REQUEST_URI} sitemap.xml
    RewriteRule ^.*$ sitemap.xml [L]
#
    RewriteCond %{REQUEST_URI} ror.xml
    RewriteRule ^.*$ ror.xml [L]
#
    RewriteCond %{REQUEST_URI} favicon.ico
    RewriteRule ^.*$ favicon.ico [L]
#
    RewriteCond %{REQUEST_URI} ^/(assets|css|images|video|fonts|js|minify|slice)
    RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
    RewriteRule ^fonts/(.*)$ frontend/web/files/fonts/$1 [L]
    RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
    RewriteRule ^uploads/(.*)$ uploads/$1 [L]
    RewriteRule ^images/(.*)$ images/$1 [L]
    RewriteRule ^video/(.*)$ video/$1 [L]
    RewriteRule ^slice/(.*)$ slice/$1 [L]
    RewriteRule ^minify/(.*)$ frontend/web/minify/$1 [L]
#
    RewriteCond %{REQUEST_URI} !^/(frontend|backend|mobile)/web/(assets|css|images|fonts|js|minify)/
    RewriteCond %{REQUEST_URI} !index.php
#    RewriteCond %{REQUEST_URI} !getWsdl.php
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ frontend/web/index.php [NC,L,QSA]
