.footer .footer-top {
  background-color: #1b1c21;
  padding: 66px 0; }
@media screen and (max-width: 1199px) {
  .footer .footer-top {
    padding: 30px 0; } }
@media screen and (max-width: 767px) {
  .footer .footer-top {
    padding: 20px 0 15px; } }
  .footer .footer-top .footer-logo a {
    display: block; }
  .footer .footer-top .footer-logo img {
    max-height: 187px; }
@media screen and (max-width: 1199px) {
  .footer .footer-top .footer-logo img {
    max-height: 160px; } }
  .footer .footer-top .footer-buttons-row {
    border-bottom: 1px solid #2a2b31;
    padding-top: 10px;
    padding-bottom: 40px; }
@media screen and (max-width: 767px) {
  .footer .footer-top .footer-buttons-row {
    padding-bottom: 15px; } }
    .footer .footer-top .footer-buttons-row .button--isi::before {
      background: #308fb8;
      margin: -30px 0 0 1px;
      width: 60px;
      height: 60px;
      transition: transform 0.7s, opacity 0.3s; }
  .footer .footer-top .footer-menu {
    color: #fff;
    padding-top: 35px; }
    .footer .footer-top .footer-menu a {
      color: #fff; }
    .footer .footer-top .footer-menu .footer-menu-title-col {
      margin-bottom: 20px; }
      .footer .footer-top .footer-menu .footer-menu-title-col a {
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 18px; }
        .footer .footer-top .footer-menu .footer-menu-title-col a:hover {
          color: #308fb8; }
@media screen and (max-width: 991px) {
  .footer .footer-top .footer-menu .footer-menu-title-col a {
    font-size: 16px; } }
@media screen and (max-width: 767px) {
  .footer .footer-top .footer-menu .footer-menu-title-col a {
    font-size: 15px; } }
@media screen and (max-width: 991px) {
  .footer .footer-top .footer-menu .footer-menu-title-col {
    margin-bottom: 15px; } }
    .footer .footer-top .footer-menu ul {
      list-style: none; }
@media screen and (max-width: 767px) {
  .footer .footer-top .footer-menu ul {
    display: none; } }
      .footer .footer-top .footer-menu ul li {
        margin-bottom: 18px; }
        .footer .footer-top .footer-menu ul li a {
          color: rgba(255, 255, 255, 0.7);
          display: block;
          font-family: 'ProximaNovaLight', sans-serif;
          font-size: 18px; }
          .footer .footer-top .footer-menu ul li a:hover {
            color: #308fb8; }
@media screen and (max-width: 991px) {
  .footer .footer-top .footer-menu ul li a {
    font-size: 16px; } }
@media screen and (max-width: 991px) {
  .footer .footer-top .footer-menu ul li {
    margin-bottom: 13px; } }
    .footer .footer-top .footer-menu .footer-menu-options ul li {
      margin-bottom: 13px; }
@media screen and (max-width: 991px) {
  .footer .footer-top .footer-menu .footer-menu-options .footer-menu-title-col {
    margin-bottom: 22px; } }
@media screen and (max-width: 767px) {
  .footer .footer-top .footer-menu .footer-menu-options .footer-menu-title-col {
    margin-bottom: 15px; } }
@media screen and (max-width: 991px) {
  .footer .footer-top .footer-menu .footer-menu-main ul li a {
    font-size: 15px; } }
    .footer .footer-top .footer-menu .footer-menu-sub {
      margin-top: 40px; }
@media screen and (max-width: 767px) {
  .footer .footer-top .footer-menu .footer-menu-sub {
    margin-top: 30px; } }
@media screen and (max-width: 767px) {
  .footer .footer-top .footer-menu .footer-menu-sub {
    margin-top: 0; } }
      .footer .footer-top .footer-menu .footer-menu-sub .footer-menu-sub-item {
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 18px;
        margin-bottom: 20px; }
@media screen and (max-width: 767px) {
  .footer .footer-top .footer-menu .footer-menu-sub .footer-menu-sub-item {
    margin-bottom: 15px; } }
        .footer .footer-top .footer-menu .footer-menu-sub .footer-menu-sub-item a:hover {
          color: #308fb8; }
@media screen and (max-width: 991px) {
  .footer .footer-top .footer-menu .footer-menu-sub .footer-menu-sub-item a {
    font-size: 16px; } }
@media screen and (max-width: 767px) {
  .footer .footer-top .footer-menu .footer-menu-sub .footer-menu-sub-item a {
    font-size: 15px; } }
  .footer .footer-top .footer-top-col-3, .footer .footer-top .footer-top-col-4 {
    display: inline-block;
    float: left;
    min-height: 1px;
    padding: 0 15px; }
  .footer .footer-top .footer-top-col-3 {
    width: 30%; }
@media screen and (max-width: 991px) {
  .footer .footer-top .footer-top-col-3 {
    width: 33.33%; } }
@media screen and (max-width: 767px) {
  .footer .footer-top .footer-top-col-3 {
    margin-bottom: 0;
    width: 100%; } }
  .footer .footer-top .footer-top-col-4 {
    width: 40%; }
@media screen and (max-width: 991px) {
  .footer .footer-top .footer-top-col-4 {
    width: 33.33%; } }
@media screen and (max-width: 767px) {
  .footer .footer-top .footer-top-col-4 {
    margin-bottom: 0;
    width: 100%; } }
.footer .footer-bottom {
  background-color: #000;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-family: 'ProximaNovaLight', sans-serif;
  height: 100px;
  padding: 15px 0; }
@media screen and (max-width: 991px) {
  .footer .footer-bottom {
    height: auto;
    padding: 0; } }
@media screen and (max-width: 767px) {
  .footer .footer-bottom {
    padding: 15px 0 0; } }
  .footer .footer-bottom .footer-logo {
    padding-top: 15px; }
@media screen and (max-width: 767px) {
  .footer .footer-bottom .footer-logo {
    padding-top: 0; } }
  .footer .footer-bottom .footer-realtors-enter {
    line-height: 70px; }
    .footer .footer-bottom .footer-realtors-enter a {
      color: rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 6px;
      transition: 0.5s; }
      .footer .footer-bottom .footer-realtors-enter a:hover {
        color: #308fb8;
        border-bottom: 1px solid rgba(48, 143, 184, 0.2); }
  .footer .footer-bottom .footer-social {
    padding-top: 10px; }
    .footer .footer-bottom .footer-social a {
      display: inline-block;
      float: left;
      margin-right: 20px;
      transition: .5s; }
      .footer .footer-bottom .footer-social a:hover {
        margin-top: -10px; }
      .footer .footer-bottom .footer-social a img {
        max-height: 50px;
        max-width: 50px; }
  .footer .footer-bottom .footer-dev-site {
    line-height: 70px; }
    .footer .footer-bottom .footer-dev-site a {
      display: inline-block;
      margin-left: 10px;
      opacity: 0.2;
      transition: 0.5s; }
      .footer .footer-bottom .footer-dev-site a:hover {
        opacity: 1; }
      .footer .footer-bottom .footer-dev-site a img {
        max-width: 70px;
        margin-top: -5px; }
  .footer .footer-bottom .footer-copyright {
    color: rgba(255, 255, 255, 0.2);
    font-size: 13px;
    transition: 0.5s; }
@media screen and (max-width: 767px) {
  .footer .footer-bottom .footer-copyright {
    padding-bottom: 30px; } }
    .footer .footer-bottom .footer-copyright:hover {
      color: white; }

.footer-bottom-logo {
  background-color: #17181c;
  float: left;
  padding: 15px;
  position: relative;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .footer-bottom-logo {
      text-align: left; } }
  .footer-bottom-logo img {
    max-height: 146px;
    max-width: 80%; }
  .footer-bottom-logo:before {
    background: #17181c;
    content: '';
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 30vw; }

.footer-bottom-content {
  float: right; }
  @media screen and (max-width: 991px) {
    .footer-bottom-content {
      padding: 15px; } }
