@import "scss_lib/lib";
@import "fonts.css";
@import "footer.css";

header {
  background-color: #fdfdfd;
  height: 160px;
  position: relative;
  z-index: 200;
  @include max-screen(991px) {
    height: 74px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  @include max-screen(767px) {
    height: 55px;
  }
  .header-grey-left-block {
    background-color: #e8e9ed;
    height: 100%;
    margin-left: -405px;
    position: absolute;
    width: 50%;
    @include max-screen(1199px) {
      margin-left: -340px;
    }
  }
  .header-lines-right-block {
    border-top: 1px solid #f0f0f1;
    border-bottom: 1px solid #f0f0f1;
    height: 80px;
    left: 50%;
    margin-left: 570px;
    position: absolute;
    top: 80px;
    width: 50%;
  }
  .header-logo {
    height: 160px;
    padding: 18px 15px;
    text-align: center;
    z-index: 10;
    a {
      display: block;
      @include max-screen(767px) {
        text-align: center;
      }
      img {
        height: 120px;
        @include max-screen(1199px) {
          height: 108px;
        }
      }
    }
  }
  .header-top {
    background-color: #fdfdfd;
    height: 80px;
    padding-top: 13px;
    z-index: 10;
    .header-title img {
      height: 50px;
    }
    .header-call-back button {
      background-color: #308fb8;
      color: #fff;
      font-family: 'ProximaNovaRegular', sans-serif;
      font-size: 16px;
      height: 45px;
      line-height: 45px;
      margin: 2px 0;
      overflow: hidden;
      padding: 0 35px;
    }
    .header-phones {
      float: right;
      margin-right: 50px;
      .header-phone-item {
        position: relative;
        a {
          color: #308fb8;
          font-family: 'ProximaNovaBold', sans-serif;
          font-size: 15px;
          &:hover {
            border-bottom: 1px solid #e2eff4;
          }
        }
        span {
          font-size: 11px;
          height: 100%;
          left: 100%;
          padding-left: 5px;
          position: absolute;
          top: 0;
          width: 35px;
        }
      }
    }
  }
  .header-bottom {
    background-color: #fdfdfd;
    height: 80px;
    z-index: 10;
    @include max-screen(991px) {
      height: 74px;
    }
    @include max-screen(767px) {
      height: 55px;
    }
    .nav {
      @include max-screen(991px) {
        background-color: #fdfdfd;
      }
    }
    nav {
      border: none;
      border-radius: 0;
      height: 100%;
      margin-left: -30px;
      @include max-screen(991px) {
        margin: 0 -15px;
      }
      .collapse > ul {
        display: flex;
        position: relative;
        width: 100%;
        @include max-screen(991px) {
          display: block;
          z-index: 1000;
        }
        > li {
          border-top: 1px solid #f0f0f1;
          border-bottom: 1px solid #f0f0f1;
          border-right: 1px solid #f0f0f1;
          display: inline-block;
          flex: 0 1 auto;
          flex-grow: 1;
          position: static;
          @include max-screen(1199px) {
            width: 120px;
          }
          @include max-screen(991px) {
            display: block;
            position: relative;
            width: 100%;
          }
          &:first-child {
            @include max-screen(1199px) {
              width: 160px;
            }
            @include max-screen(991px) {
              width: 100%;
            }
          }
          &:nth-child(4) {
            @include max-screen(1199px) {
              width: 176px;
            }
            @include max-screen(991px) {
              width: 100%;
            }
          }
          > a {
            color: #1b1c21;
            display: block;
            font-family: 'ProximaNovaBold', sans-serif;
            font-size: 16px;
            height: 78px;
            padding: 0;
            position: relative;
            text-align: center;
            &:hover {
              color: #308fb8;
            }
          }
          .menu-title {
            display: table;
            position: absolute;
            top: 0;
            width: 100%;
            p {
              display: table-cell;
              height: 78px;
              line-height: 20px;
              margin: 0;
              padding-left: 25px;
              padding-right: 15px;
              text-align: left;
              vertical-align: middle;
              width: 975px;
              @include max-screen(1199px) {
                padding-left: 20px;
              }
            }
          }
        }
      }
      .nav .open>a,
      .nav .open>a:hover,
      .nav .open>a:focus {
        background-color: #fff;
        border-bottom: none;
        color: #308fb8;
        margin-bottom: -2px;
        -webkit-box-shadow: 15px 15px 40px -5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 15px 15px 40px -5px rgba(0, 0, 0, 0.3);
        box-shadow: 15px 15px 40px -5px rgba(0, 0, 0, 0.3);
        @include max-screen(991px) {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
        .menu-title p {
          height: 74px;
        }
        .caret {
          bottom: 7px;
        }
      }
      .nav>li>a:hover,
      .nav>li>a:focus {
        background-color: #fff;
        color: #308fb8;
      }
      ul.dropdown-menu {
        background-color: #ffffff;
        border: none;
        border-radius: 2px;
        padding: 15px;
        top: 78px;
        width: 975px;
        @include max-screen(1199px) {
          width: 830px;
        }
        @include max-screen(991px) {
          border-radius: 0;
          float: none;
          padding: 0;
          position: static;
          top: 100%;
          width: 100%;
        }
        > li {
          width: 33.333%;
          float:left;
          display:inline;
          @include max-screen(991px) {
            display: list-item;
            float: none;
            width: 100%;
          }
        }
        ul {
          list-style: none;
          li {
            height: 36px;
            padding: 0 15px;
            @include max-screen(1199px) {
              height: auto;
            }
            a {
              font-family: 'ProximaNovaRegular', sans-serif;
              font-size: 16px;
              display: block;
              line-height: 36px;
              &:hover {
                color: #308fb8;
              }
            }
          }
        }
      }

      .navbar-collapse {
        padding: 0;
        @include max-screen(767px) {
          padding: 0 15px;
        }
      }
      .caret {
        bottom: 5px;
        color: #000;
        position: absolute;
        right: 5px;
        transform: rotate(-45deg);
      }

    }
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
  }
  .dropdown.open {
    @include max-screen(991px) {
      ul.dropdown-menu {
        display: block;
        width: 100%;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: #fdfdfd;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a {
      line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
      padding: 5px 15px 5px 25px;
    }
    .dropdown-menu > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }
    .navbar-header {
      float: none;
    }
    .burger {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid #fdfdfd;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      /*margin: 7.5px -15px;*/
      margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-text {
      float: none;
      margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
      display: block!important;
    }
    .collapsing {
      overflow: hidden!important;
    }
  }


}

.modalCallback {
  .modal-dialog {
    width: 404px;
  }
  .modal-content {
    background-color: #e8e9ed;
    border-radius: 0;
    padding: 20px;
    text-align: center;
  }
  .modal-title {
    font-family: 'ProximaNovaBold', sans-serif;
    font-size: 21px;
    margin-bottom: 35px;
    text-align: center;
  }
  button.modalClose {
    background: transparent;
    border: 1px solid #bebfc2;
    border-radius: 50px;
    height: 30px;
    line-height: 28px;
    position: absolute;
    right: 20px;
    top: 16px;
    width: 30px;
    img {
      height: 13px;
      margin-right: -1px;
      margin-top: -2px;
      width: 13px;
    }
  }
  form {
    margin: 0 auto;
  }
  textarea,
  input {
    background-color: transparent;
    border: 1px solid #d0d1d5;
    color: #1b1c21;
    font-size: 18px;
    margin-bottom: 12px;
    padding: 0 17px;
    width: 100%;
  }
  input {
    border-radius: 50px;
    height: 40px;
  }
  textarea {
    border-radius: 12px;
    height: 82px;
    padding: 10px 17px;
    resize: none;
  }
  button {
    float: none;
    margin: 0 auto;
  }
}

.navbar-header button.burger {
  background: transparent;
  border: none;
  border-left: 1px solid #f0f0f1;
  float: right;
  height: 74px;
  text-align: center;
  width: 82px;
  @include max-screen(767px) {
    border-left: none;
    height: 55px;
    margin-right: 15px;
    width: 35px;
  }
  div {
    background-color: #308fb8;
    border: none;
    border-radius: 40px;
    display: inline-block;
    height: 35px;
    padding: 10px 0;
    width: 35px;
  }
  .icon-bar {
    background-color: #fff;
    display: block;
    height: 1px;
    margin: 0 auto 5px;
    width: 20px ;
  }
}
a.navbar-brand {
  background-color: #e8e9ed;
  display: block;
  height: 74px;
  padding-top: 8px;
  position: relative;
  width: 85px;
  @include max-screen(767px) {
    height: 55px;
    padding: 8px 9px;
    width: 60px;
  }
  &:before {
    background-color: #e8e9ed;
    content: '';
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 20vw;
  }
}
.navbar-collapse.collapse {
  background: #fdfdfd;
}

.mobile-menu  {
  background: #308fb8;
  display: none;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  &::-webkit-scrollbar {
    width: 0;
  }
  .nav {
    height: auto;
    li {
      background: #308fb8;
      overflow: hidden;
    }
    >li {
      border-bottom: 1px solid #449abf;
      margin: 0;
    }
    >li:first-child {
      height: 73px;
      line-height: 73px;
      padding: 0 15px;
    }
    >li:nth-child(2) {
      background-color: #449abf;
      height: 73px;
      line-height: 73px;
      padding: 0 15px;
      @include max-screen(767px) {
        height: 130px;
        line-height: 30px;
        padding: 12px 0;
      }
      .phone-item {
        position: relative;
        display: inline-block;
        @include max-screen(767px) {
          display: block;
          text-align: center;
        }
      }
      a {
        font-family: 'ProximaNovaBold', sans-serif;
        margin-right: 100px;
        @include max-screen(767px) {
          display: block;
          font-size: 15px;
          margin-right: 0;
          text-align: center;
        }
        sup {
          top: -3px;
          left: 5px;
        }
      }
      button {
        background: transparent;
        border: 1px solid #fff;
        float: right;
        line-height: 38px;
        margin-top: 15px;
        width: 200px;
        @include max-screen(767px) {
          float: none;
          height: 35px;
          line-height: 33px;
          margin: 6px auto 0;
        }
      }
    }
    a {
      color: white;
    }
    .dropdown-backdrop {
      background-color: #308fb8;
      display: none;
    }
    .dropdown-menu {
      background-color: #308fb8;
      border: none;
      margin: 0;
      padding: 0 15px;
      position: static;
      -webkit-box-shadow: none;
      box-shadow: none;
      width: 100%;
      ul {
        width: 100%;
      }
      li {
        height: 60px;
        width: 100%;
        a {
          display: block;
          font-family: 'ProximaNovaLight', sans-serif;
          font-size: 16px;
          line-height: 60px;
          padding: 0;
          z-index: 1000;
        }
      }
    }
  }
  .nav>li>a {
    display: block;
    height: 60px;
    font-size: 18px;
    padding: 0 15px;
    p {
      line-height: 60px;
      margin: 0;
    }
  }
  .nav>li>a:hover,
  .nav>li>a:focus {
    background: #308fb8;
  }

  .mobile-menu-logo {
    height: 73px;
    img {
      height: 55px;
    }
  }
  .caret {
    position: absolute;
    right: 20px;
    top: 15px;
    border: none;
    margin: 0;
    height: 20px;
    width: 20px;
    img {
      height: 10px;
      transition: .5s;
      width: 10px;
    }
  }
  button.close-menu {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    z-index: 100;
    img {
      height: 20px;
      width: 20px;
    }
  }

  .dropdown.open {
    .caret img {
      transform: rotate(180deg);
    }
  }
}
